<!DOCTYPE html>
<div id="message">
	<div class="alert alert-{{ResponseModel.ResponseType}}" alert-dismissible ng-show="ResponseModel.ResponseAlert">
		<a href="" class="close" ng-click="ResponseModel.ResponseAlert = false" aria-label="close">&times;</a>
		<strong> {{ResponseModel.ResponseMessage}} </strong>
	</div>
</div>
<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content">

	<!-- Start Content-->
	<div class="row">
		<div class="col-12">
			<div class="page-title-box">
				<div class="page-title-right">
					<ol class="breadcrumb m-0">
						<li class="breadcrumb-item"><a href="javascript: void(0);">Bài viết</a></li>
						<li class="breadcrumb-item active">Bài viết bị báo cáo</li>
					</ol>
				</div>
				<h4 class="page-title">Bài viết bị báo cáo</h4>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-body">

					<div class="row mb-2">
						<div class="col-xl-8">
							<form
								class="row gy-2 gx-2 align-items-center justify-content-xl-start justify-content-between">
								<div class="col-auto">
									<label for="inputPassword2" class="visually-hidden">Search</label>
									<input type="search" class="form-control" placeholder="Tìm kiếm..." id="keywords"
										ng-keypress="$event.keyCode == 13 &amp;&amp; goSearchA($event)">
								</div>
							</form>
						</div>

					</div>



					<div class="table-responsive">
						<table class="table table-centered table-nowrap mb-0">
							<thead class="table-light">
								<tr>
									<th>Id</th>
									<th>Tiêu đề bài viết</th>
									<th>Người báo cáo</th>
									<th>Ngày báo cáo</th>
									<th>Nguyên nhân</th>
									<th>Thao tác</th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="item in pageData">
									<td>{{item.id}}</td>
									<td>{{item.post.title}}</td>
									<td>{{item.user.fullname}}</td>
									<td>{{item.reportDate | date : 'dd/MM/yyyy'}}</td>
									<td ng-if="item.problem.id == 1"><span class="badge badge-danger-lighten">Lừa
											đảo</span></td>
									<td ng-if="item.problem.id == 2"><span class="badge badge-danger-lighten">Khiêu
											dâm</span></td>
									<td ng-if="item.problem.id == 3"><span class="badge badge-danger-lighten">Bạo
											lực</span></td>
									<td ng-if="item.problem.id == 4"><span class="badge badge-danger-lighten">Quấy
											rối</span></td>
									<td ng-if="item.problem.id == 5"><span class="badge badge-danger-lighten">Tệ
											nạn</span></td>
									<td>
										<a href="javascript:void(0);" class="action-icon" data-bs-toggle="tooltip"
											data-bs-placement="top" data-bs-title="Xem"> <i class="mdi mdi-eye"
												data-bs-toggle="modal" data-bs-target="#view-modal"
												ng-click="view(item); getRPCard(item)"></i></a>
										<a href="javascript:void(0);" class="action-icon" data-bs-toggle="tooltip"
											data-bs-placement="top" data-bs-title="Duyệt báo cáo (Bài viết vi phạm)"> <i
												class="mdi mdi-beaker-check" data-bs-toggle="modal"
												data-bs-target="#violate-modal" ng-click="getRPCard(item)"></i></a>
										<a href="javascript:void(0);" class="action-icon" data-bs-toggle="tooltip"
											data-bs-placement="top"
											data-bs-title="Từ chối báo cáo (Bài viết không vi phạm)"> <i
												class="mdi mdi-beaker-remove" data-bs-toggle="modal"
												data-bs-target="#no-violate-modal" ng-click="getRPCard(item)"></i></a>
									</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div> <!-- end card-body-->

				<!-- Standard modal content -->
				<div id="view-modal" class="modal fade" tabindex="-1" role="dialog"
					aria-labelledby="standard-modalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="standard-modalLabel">Chi tiết báo cáo
									#{{formViewReportCard.id}}
								</h4>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<form action="">

									<!-- INPUT -->
									<div class="mb-3 position-relative row" id="datepicker1">
										<div class="col-3"><label class="form-label">Người báo cáo</label></div>
										<div class="col-9"><input type="text" class="form-control"
												data-provide="datepicker" data-date-container="#datepicker1" readonly
												ng-value="formViewReportCard.user.fullname"></div>
									</div>

									<!-- INPUT -->
									<div class="mb-3 position-relative row" id="datepicker1">
										<div class="col-3"><label class="form-label">Ngày báo cáo</label></div>
										<div class="col-9"><input type="text" class="form-control"
												data-provide="datepicker" data-date-container="#datepicker1" readonly
												ng-value="formViewReportCard.reportDate | date:'dd/MM/yyyy'"></div>
									</div>

									<!-- INPUT -->
									<div class="mb-3 position-relative row" id="datepicker1">
										<div class="col-3"><label class="form-label">Nguyên nhân</label></div>
										<div class="col-9"><input type="text" class="form-control"
												data-provide="datepicker" data-date-container="#datepicker1" readonly
												value="Lừa đảo" ng-if="formViewReportCard.problem.id == 1">

											<input type="text" class="form-control" data-provide="datepicker"
												data-date-container="#datepicker1" readonly value="Khiêu dâm"
												ng-if="formViewReportCard.problem.id == 2">

											<input type="text" class="form-control" data-provide="datepicker"
												data-date-container="#datepicker1" readonly value="Bạo lực"
												ng-if="formViewReportCard.problem.id == 3">

											<input type="text" class="form-control" data-provide="datepicker"
												data-date-container="#datepicker1" readonly value="Quấy rối"
												ng-if="formViewReportCard.problem.id == 4">

											<input type="text" class="form-control" data-provide="datepicker"
												data-date-container="#datepicker1" readonly value="Tệ nạn"
												ng-if="formViewReportCard.problem.id == 5">
										</div>
									</div>

									<!-- INPUT -->
									<div class="mb-3 position-relative row" id="datepicker1">
										<div class="col-3"><label class="form-label">ID bài viết</label></div>
										<div class="col-9"><input type="text" class="form-control"
												data-provide="datepicker" data-date-container="#datepicker1" readonly
												ng-value="formViewReportCard.post.id"></div>
									</div>

									<!-- INPUT -->
									<div class="mb-3 position-relative row" id="datepicker1">
										<div class="col-3"><label class="form-label">Tiêu đề</label></div>
										<div class="col-9"><input type="text" class="form-control"
												data-provide="datepicker" data-date-container="#datepicker1" readonly
												ng-value="formViewReportCard.post.title"></div>
									</div>

									<!-- INPUT -->
									<div class="mb-3 position-relative row" id="datepicker1">
										<div class="col-3"><label class="form-label">Người đăng</label></div>
										<div class="col-9"><input type="text" class="form-control"
												data-provide="datepicker" data-date-container="#datepicker1" readonly
												ng-value="formViewReportCard.post.card.user.fullname"></div>
									</div>

									<!-- INPUT -->
									<div class="mb-3 position-relative row" id="datepicker1">
										<div class="col-3"><label class="form-label">Ngày đăng</label></div>
										<div class="col-9"><input type="text" class="form-control"
												data-provide="datepicker" data-date-container="#datepicker1" readonly
												ng-value="formViewReportCard.post.card.postAt | date:'dd/MM/yyyy'">
										</div>
									</div>

									<!-- INPUT -->
									<div class="mb-3 position-relative row" id="datepicker1">
										<div class="col-3"><label class="form-label">Chế độ</label></div>
										<div class="col-9"><input type="text" class="form-control"
												data-provide="datepicker" data-date-container="#datepicker1" readonly
												ng-value="formViewReportCard.post.card.hidden == false ? 'Công khai' : 'Không công khai'">
										</div>
									</div>

									<!-- INPUT -->
									<div class="mb-3 position-relative row" id="datepicker1">
										<div class="col-3"><label class="form-label">Trạng thái</label></div>
										<div class="col-9"><input type="text" class="form-control"
												data-provide="datepicker" data-date-container="#datepicker1" readonly
												ng-value="formViewReportCard.post.card.status.id == 3 ? 'Bình thường' : 'Vi phạm'">
										</div>
									</div>


									<div class="mb-3 position-relative row" id="datepicker1">
										<div class="col-3"><label class="form-label">Nội dung</label></div>
										<div class="col-9"><textarea class="form-control" id="example-textarea" rows="5"
												ng-value="formViewReportCard.post.content" readonly></textarea></div>
									</div>

									<div class="mb-3 row">
										<div class="col-3">Ảnh bài viết</div>
										<div class="col-9">
											<!-- Product image -->
											<div>
												<a href="javascript: void(0);">
													<img src="assets/images/products/product-1.jpg"
														class="img-fluid img-thumbnail" style="max-width: 70px;" />
												</a>
												<a href="javascript: void(0);">
													<img src="assets/images/products/product-6.jpg"
														class="img-fluid img-thumbnail" style="max-width: 70px;" />
												</a>
												<a href="javascript: void(0);">
													<img src="assets/images/products/product-3.jpg"
														class="img-fluid img-thumbnail" style="max-width: 70px;" />
												</a>
												<a href="javascript: void(0);">
													<img src="assets/images/products/product-3.jpg"
														class="img-fluid img-thumbnail" style="max-width: 70px;" />
												</a>
												<a href="javascript: void(0);">
													<img src="assets/images/products/product-3.jpg"
														class="img-fluid img-thumbnail" style="max-width: 70px;" />
												</a>
												<a href="javascript: void(0);">
													<img src="assets/images/products/product-3.jpg"
														class="img-fluid img-thumbnail" style="max-width: 70px;" />
												</a>
											</div>
										</div> <!-- end col -->
									</div>
								</form>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-danger" data-bs-toggle="modal"
									data-bs-target="#violate-modal">Duyệt vi
									phạm</button>
								<button type="button" class="btn btn-success" data-bs-toggle="modal"
									data-bs-target="#no-violate-modal">Bài viết không vi phạm</button>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->

				<!-- Block modal content -->
				<div id="violate-modal" class="modal fade" tabindex="-1" role="dialog"
					aria-labelledby="violate-modalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="standard-modalLabel">Duyệt báo cáo vi phạm bài viết #1
								</h4>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<!-- INPUT -->
								<div class="mb-3 position-relative row" id="datepicker1">
									<div class="col-3"><label class="form-label">Lí do vi phạm</label></div>
									<div class="col-9"><textarea class="form-control" id="lydo" rows="5"></textarea>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"
									id="closeFormConfirmvio">Hủy</button>
								<button type="button" class="btn btn-danger" ng-click="confirmVio()">Duyệt báo
									cáo</button>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->

				<!-- Check modal content -->
				<div id="no-violate-modal" class="modal fade" tabindex="-1" role="dialog"
					aria-labelledby="no-violateLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="standard-modalLabel">Bạn có chắc muốn từ chối báo cáo
									này?</h4>
								<button type="button" class="btn-close" data-bs-dismiss="modal"
									aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<span>Từ chối báo cáo tức là bạn đã xác nhận bài viết này hoàn toàn không vi phạm
									tiêu chuẩn nào của Big Lobby!</span>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" id="closeFormConfirmNovio"
									data-bs-dismiss="modal">Hủy</button>
								<button type="button" class="btn btn-danger" ng-click="confirmNoVio()">Từ chối báo
									cáo</button>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div><!-- /.modal -->

				<div class="col-sm-12 col-md-7 offset-5">
					<div class="dataTables_paginate paging_simple_numbers" id="products-datatable_paginate">
						<ul class="pagination pagination-rounded">
							<li class="paginate_button page-item previous disabled" id="products-datatable_previous"
								ng-click="goPage(APage-1)"><a href="" aria-controls="products-datatable" data-dt-idx="0"
									tabindex="0" class="page-link"><i class="mdi mdi-chevron-left"></i></a></li>
							<li class="paginate_button page-item {{pg===APage?'active':''}} "
								ng-repeat="pg in listButton" ng-click="goPage(pg)"><a href=""
									aria-controls="products-datatable" data-dt-idx="1" tabindex="0"
									class="page-link">{{pg}}</a></li>

							<li class="paginate_button page-item next" id="products-datatable_next"
								ng-click="goPage(APage+1)"><a href="" aria-controls="products-datatable" data-dt-idx="3"
									tabindex="0" class="page-link"><i class="mdi mdi-chevron-right"></i></a></li>
						</ul>
					</div>
				</div>

			</div> <!-- end card-->
		</div> <!-- end col -->

	</div>


	<!-- container -->

</div>


<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->