    /* Next & previous buttons */
    .prev,
    .next {
        position: absolute;
        cursor: pointer;  
        width: 10% !important; 
        color: white !important;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none; 
        top: 50%;
        text-decoration: none;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0%;
        border-radius: 3px 0 0 3px;
    }

    .prev{
        left: 5%;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover,
    .next:hover { 
        color: black !important;
    }
 

    .active,
    .demo:hover {
        opacity: 1;
    }

    .main__left__poster{
        position: relative;
        height: 250px;
        width: 470px !important;
    }
    .img__detail{ 
        margin: 5%;
        border-radius: 6px;
        height: 80px !important;
        width: 150px !important;
    }
    .img__slideshow{
        width: 470px !important;
        height: 250px !important;
        border-radius: 13px;
        background: url(.jpg), #FFFFFF;
        border: 8px solid rgba(38, 146, 144, 0.2); 
    }

    .main__left__footer{
        position: absolute; 
    }

    
 