
<!-- **************** MAIN CONTENT START **************** -->
<main>
  
    <!-- Container START -->
    <div class="container">
      <div class="row g-4">
		 <!-- Sidenav START -->
          <div class="col-lg-3">
 				<div ng-include="'/layout/user/left/_menu_left_index.html'"></div>
          </div>
          <!-- Sidenav END -->
        <!-- Main content START -->
        <div class="col-lg-9 mx-auto">
          <div class="vstack gap-4">
            <!-- Blog single START -->
            <div class="card card-body">
              <div class="mt-4">
                <!-- Tag -->
                <a href="#" class="badge bg-danger bg-opacity-10 text-danger mb-2 fw-bold">Hỗ trợ</a>
                <!-- Title info -->
                <h1 class="mb-2 h2">Nếu bạn có thắc mặc hay những phàn nàn về dịch vụ của chúng tôi xin hãy để lại câu hỏi chúng tôi sẽ xem xét và khắc phục</h1>
                
                <h4 class="mt-4">Những vấn đề mọi người thường thắc mắc</h4>
                <!-- Row START -->
                <div class="accordion accordion-icon" id="accordionschedules">
                  <!-- Accordion item -->
                  <div class="accordion-item">
                    <div class="accordion-header" id="scheduleFour">
                      <button class="accordion-button pe-5 flex-wrap mb-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#schedulecollapseFour1" aria-expanded="false" aria-controls="schedulecollapseFour">
                        <strong>1. Làm sao để mua hàng?</strong>
                      </button>
                    </div>
                    <!-- Accordion info -->
                    <div id="schedulecollapseFour1" class="accordion-collapse collapse" aria-labelledby="scheduleFour" data-bs-parent="#accordionschedules">
                      <div class="accordion-body">
                        <p>B1. Đăng nhập (Nếu chưa có thì hãy đăng ký)</p>  
                        <p>B2. Xem chi tiết sản phẩm muốn mua</p>  
                        <p>B3. Thêm sản phẩm vào giỏ hàng</p> 
                        <p>B4. Đặt hàng</p>      
                        <p>Lưu ý: Có thể đặt hàng khi xem sản phẩm tại trang chi tiết</p>  
                      </div>
                    </div>
                  </div>
                  <!-- Accordion item -->
                  <div class="accordion-item">
                    <div class="accordion-header" id="scheduleFour">
                      <button class="accordion-button pe-5 flex-wrap mb-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#schedulecollapseFour2" aria-expanded="false" aria-controls="schedulecollapseFour">
                        <strong>2. Làm sao để bán hàng ?</strong>
                      </button>
                    </div>
                    <!-- Accordion info -->
                    <div id="schedulecollapseFour2" class="accordion-collapse collapse" aria-labelledby="scheduleFour" data-bs-parent="#accordionschedules">
                      <div class="accordion-body">
                        <p>B1. Đăng nhập (Nếu chưa có thì hãy đăng ký)</p>  
                        <p>B2. Đăng sản phẩm tại trang chủ hoặc trang quản lý sản phẩm</p>  
                        <p>B3. Chờ quản trị viên duyệt sản phẩm</p> 
                        <p>B4. Sản phẩm sau khi được duyệt sẽ có thông báo đến bạn và sản phẩm sẽ xuất hiện ở Cửa Hàng BigLobby</p>      
                        <p>Lưu ý: Để đăng sản phẩm phải tốn phí duyệt, hãy nạp tiền ở phần "Nạp tiền" để trả phí đăng nhé!!!</p> 
                      </div>
                    </div>
                  </div>
                  <!-- Accordion item -->
                  <div class="accordion-item">
                    <div class="accordion-header" id="scheduleFour">
                      <button class="accordion-button pe-5 flex-wrap mb-0 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#schedulecollapseFour3" aria-expanded="false" aria-controls="schedulecollapseFour">
                        <strong>3. Làm sao để sản phẩm của tôi tiếp cận được nhiều người ?</strong>
                      </button>
                    </div>
                    <!-- Accordion info -->
                    <div id="schedulecollapseFour3" class="accordion-collapse collapse" aria-labelledby="scheduleFour" data-bs-parent="#accordionschedules">
                      <div class="accordion-body">
                      <p>Hãy mua những dịch vụ tại Cửa hàng -> Dịch vụ:</p>  
                      <p>- Dịch vụ quảng cáo sản phẩm: Có thể giúp sản phẩm bạn xuất hiện trên bảng tin của nhiều người hơn (Kể cả khi họ không theo dõi bạn)</p>
                      <p>- Dịch vụ thành viên vip: Nó sẽ không giúp sản phẩm bạn bán được nhiều hơn nhưng nó sẽ giúp bạn ít tốn phí hơn khi đăng sản phẩm</p>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Row END -->
                <!-- Blockquote START -->
                <figure class="bg-light rounded p-3 p-sm-4 my-4">
                  <blockquote class="blockquote">
                    <p>Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi</p>
                  </blockquote>
                  <figcaption class="blockquote-footer mb-0">
                    Trân trọng
                  </figcaption>
                </figure>
                <!-- Blockquote END -->
              </div>
            </div>
            <!-- Card END -->
            <!-- Comments START -->
            <div class="card">
              <div class="card-body">
                <!-- Reply START -->
                <div>
                  <h4>Để lại câu hỏi ở đây</h4>
                  <form class="row g-3 mt-2">
                    <!-- Your Comment -->
                    <div class="col-12">
                      <label class="form-label">Nội dung câu hỏi</label>
                      <textarea id="context" class="form-control" rows="3"></textarea>
                    </div>
                    <!-- Upload Photos or Videos -->
                     <div class="fallback">
                      <label class="form-label">Tải ảnh của bạn lên</label>
                      <div class="main_avatar__register--boder" style="width: 100%;">
                        <img class="avatar__register__logo" ng-src="{{'../'+form.banner}}" style="width: 100%;">
                        <input class="input_file_image_post" type="file" ng-model="form.banner" name="banner" id="banner" onchange="angular.element(this).scope().imageChanged(this.files)" fileInput="form.banner">
                      	<i class="fa-solid fa-folder-open display-3 text-center"></i>
                      </div>
                    </div>
                    

                    <!-- Button -->
                    <div class="col-12">
                      <button type="submit" ng-click="send()" class="btn btn-primary">Gửi câu hỏi</button>
                    </div>
                  </form>
                </div>
                <!-- Reply END -->
              </div>
            </div>
            <!-- Blog single END -->
          </div>
        </div>
        <!-- Main content END -->
      </div> <!-- Row END -->
    </div>
    <!-- Container END -->
  
  </main>
  
  <!-- **************** MAIN CONTENT END **************** -->