.main__center__container__menu{
    height: 70px;
}
.main__center__table__admin, .main__center__search{ 
    width: 1000px;  
    bottom: 80%;
    left: 6%;
    border: 2px solid #1D8B87;
    position: absolute;
    background: #FFFFFF;
    border-radius: 15px;
}
 

.main__center__table__admin .nav-link { 
    font-style: normal;
    font-weight: 600;
    font-size: 18px; 
    display: flex;
    align-items: flex-end;
    justify-content: center;
    letter-spacing: -0.02em; 
    color: var(--color__text--gray)
    /* border-bottom: 4px solid var(--color__text--green);  */
} 

.main__center__table__admin .nav-item>.active{
    background-color: white !important;
}

.main__center__table__admin .nav-item--margin{
    margin-left: 2%;
}

.main__center__table__admin .nav-link:hover span, .nav-item>.active span{ 
    color: var(--color__text--green) !important;
    border-bottom: 4px solid var(--color__text--green); 
}

.main__center__table__admin .nav-link span{
    color: #4B7E7D;
}

.main__center__container .line__table__donhang{
    position: absolute;
    width: 1000px;
    height: 2px;
    top: 40%;
    right: 8%;
    background: linear-gradient(90deg, #FFFFFF 0%, #DBDBDB 49.1%, #FFFFFF 100%);
    border-radius: 5px;
}
