<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/dstuff/deco.css">
</head>

<body>
    <div>
        <form action="zzz">
            <h2>XÁC NHẬN THÔNG TIN GIAO DỊCH</h2>
            <div class="inp-grpzz">
                <label for="inp1zz">Thời gian</label>
                <input type="datetime" name="inp1zz" id="inp1zz">
            </div>
            <div class="inp-grpzz">
                <label for="inp2zz">Địa điểm</label>
                <input type="datetime" name="inp2zz" id="inp2zz">
            </div>
            <div class="inp-grpzz">
                <label for="inp3zz">Hình thức thanh toán</label>
                <select name="inp3zz" id="inp3zz">
                    <option value="tienmat">Tiền mặt</option>
                    <option value="chuyenkhoan">Chuyển khoản</option>
                    <option value="xublb">Xu BLB</option>
                </select>
            </div>
            <div class="btn-cvrzz">
                <button type="submit">ĐỒNG Ý GIAO DỊCH</button>
            </div>
            <div class="inp-grpzz">
                <label for="inp4zz">Lí do hủy</label>
                <select name="inp4zz" id="inp4zz">
                    <option value="noreply">Người mua không phản hồi</option>
                    <option value="spam">Người mua không hợp tác</option>
                    <option value="outofstock">Hết hàng</option>
                    <option value="broken">Hàng bị hư hỏng</option>
                </select>
                <div class="btn-cvrzz">
                    <button type="submit" formaction="sss">HỦY ĐƠN HÀNG</button>
                </div>
            </div>
        </form>
    </div>
</body>

</html>