<!DOCTYPE html>
<style>
.main_avatar__register--boder {
  width: 417px;
  height: 250px;
  background-color: #ffffff;
  border-color: #eef0f2;
  border-radius: 6.4px;
  border-style: dashed;
  border-width: 2px;
  color: #676a79;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  line-height: 22.5px;
  padding: 20px;
  position: relative;
  margin-left: 26%;
}

.input_file_image_post {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.avatar__register__logo{
	 width: 410px;
  height: 240px;
  position: absolute;
  bottom: 1%;
  right: 0.5%;
}
</style>
<div id="message">
 <div class="alert alert-{{ResponseModel.ResponseType}}" alert-dismissible ng-show="ResponseModel.ResponseAlert">
	<a href="" class="close" ng-click="ResponseModel.ResponseAlert = false" aria-label="close">&times;</a>
	<strong> {{ResponseModel.ResponseMessage}} </strong>
 </div>
</div> 
<div class="content tab-content">
	<div id="list-tab" class="tab-pane {{Atab==1?'active show':''}}">
		<!-- Start Content-->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box">
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="javascript: void(0);">Dịch vụ</a></li>
                                <li class="breadcrumb-item active">Quản lý dịch vụ</li>
                            </ol>
                        </div>
                        <h4 class="page-title">Quản lý dịch vụ</h4>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row mb-2">
                                <div class="col-xl-8">
                                    <form
                                        class="row gy-2 gx-2 align-items-center justify-content-xl-start justify-content-between">
                                        <div class="col-auto">
                                            <label for="inputPassword2" class="visually-hidden">Search</label>
                                            <input type="text" class="form-control" aria-describedby="emailHelp" aria-label="Search" placeholder="Tìm kiếm" type="search" id="keywords" onkeypress="angular.element(this).scope().goSearchA(this)">
                                        </div>
                                    </form>
                                </div>
                                <div class="col-xl-4">
                                    <div class="text-xl-end mt-xl-0 mt-2">
                                        <a type="button" class="btn btn-success mb-2 me-2" a-target="#form-tab" data-toggle="tab" ng-click="tab(2); add()"><i class="mdi mdi-plus-box me-1"></i>
                                            Thêm dịch vụ</a>
                                    </div>
                                </div><!-- end col-->
                            </div>

                            <div class="table-responsive">
                                <table class="table table-centered table-nowrap mb-0">
                                    <thead class="table-light">
                                        <tr>
                                            <th>ID</th>
                                            <th>Dịch vụ</th>
                                            <th>Giá dịch vụ</th>
                                            <th>Ghi chú</th>
                                            <th>Thao tác</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="item in listBservice">
                                            <td><a href="apps-ecommerce-orders-details.html"
                                                    class="text-body fw-bold">#{{item.bservice.id}}</a> </td>
                                            <td>
                                                {{item.bservice.bservice}}
                                            </td>
                                            <td ng-init="x = currencyFormat(item.price)">{{x}}</td>
                                            <td>
                                               {{item.bservice.description}}
                                            </td>
                                            <td>
                                                <a ng-click="edit(item)" href="javascript:void(0);" class="action-icon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Sửa"> 
                                                	<i class="mdi mdi-square-edit-outline" a-target="#form-tab" data-toggle="tab" ng-click="tab(2)"></i>
                                                </a>
                                                <a ng-click="setId(item)" href="javascript:void(0);" class="action-icon" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Tạm ngưng"> 
                                                	<i class="mdi mdi-lock" data-bs-toggle="modal" data-bs-target="#delete-modal"></i> 
                                                </a>
                                            </td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div> <!-- end card-body-->
                        <div class="col-sm-12 col-md-7 offset-5">
                            <div class="dataTables_paginate paging_simple_numbers" id="products-datatable_paginate">
                                <ul class="pagination pagination-rounded">
                                    <li class="paginate_button page-item previous disabled"
                                        id="products-datatable_previous" ng-click="goPage(APage-1)"><a href=""
                                            aria-controls="products-datatable" data-dt-idx="0" tabindex="0"
                                            class="page-link"><i class="mdi mdi-chevron-left"></i></a></li>
                                    <li class="paginate_button page-item {{pg===APage?'active':''}} " ng-repeat="pg in listButton" ng-click="goPage(pg)"><a href=""
                                            aria-controls="products-datatable" data-dt-idx="1" tabindex="0"
                                            class="page-link">{{pg}}</a></li>
                                     
                                    <li class="paginate_button page-item next" id="products-datatable_next" ng-click="goPage(APage+1)"><a
                                            href="" aria-controls="products-datatable" data-dt-idx="3" tabindex="0"
                                            class="page-link"><i class="mdi mdi-chevron-right"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- end card-->
                </div> <!-- end col -->

            </div>

            <!-- Delete modal content -->
            <div id="delete-modal" class="modal fade" tabindex="-1" role="dialog"
                aria-labelledby="delete-modalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title" id="standard-modalLabel">Bạn có chắc muốn tạm ngưng cung cấp
                                dịch vụ này?</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <span>Dịch vụ này sẽ không xuất hiện ở Big Lobby nữa!</span>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                            <button type="button" class="btn btn-danger" ng-click="delete(layid)">Xác nhận tạm
                                ngưng</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            <!-- container -->
	</div>
            
            
            <!-- formmmmmmmmmmmmmmmmmmmmmmmmmmmmmm -->
     <div id="form-tab" class="row tab-pane {{Atab==2?'active show':''}}">
     	<div class="row">
                    <div class="col-12">
                        <div class="page-title-box">
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0" data-target="#list-tab" data-toggle="tab" ng-click="tab(1)">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dịch vụ</a></li>
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Quản lý dịch vụ</a>
                                    </li>
                                    <li class="breadcrumb-item active">Thêm dịch vụ</li>
                                </ol>
                            </div>
                            <h4 class="page-title">Thêm dịch vụ</h4>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form action="" id="formBservice" enctype="multipart/form-data">

                                    <!-- INPUT -->
                                    <div class="form-group">
                                    	<div class="mb-3 position-relative row" id="datepicker1">
	                                        <div class="col-3"><label class="form-label">Tên dịch vụ</label></div>
	                                        <div class="col-9">
	                                        <input id="bService" ng-model="formBservice.bservice.bservice" ng-value="formBservice.bservice.bservice" type="text" class="form-control" data-provide="datepicker" data-date-container="#datepicker1"></div>
	                                    	<span class="form-message col-md-8 " style="color: red; margin-left: 25%;"></span>
	                                    </div>
                                    </div>
                                    
                                    <!-- INPUT -->
                                    <div class="form-group">
                                    	<div class="mb-3 position-relative row" id="datepicker1">
	                                        <div class="col-3"><label class="form-label">Giá dịch vụ</label></div>
	                                        <div class="col-9">
	                                        <input id="bServicePrices" ng-model="formBservice.price" ng-value="formBservice.price" type="number" class="form-control" data-provide="datepicker" data-date-container="#datepicker1"></div>
	                                    	<span class="form-message col-md-8 " style="color: red; margin-left: 25%;"></span>
	                                    </div>
                                    </div>
                                    
									<div class="form-group">
                                    	<div class="mb-3 position-relative row" id="datepicker1">
	                                        <div class="col-3"><label class="form-label">Ghi chú</label></div>
	                                        <div class="col-9">
	                                        <textarea type="text" id="description" ng-model="formBservice.bservice.description" ng-value="formBservice.bservice.description" class="form-control" id="example-textarea" rows="5"></textarea></div>
	                                    	<span class="form-message col-md-8 " style="color: red; margin-left: 25%;"></span>
	                                    </div>
                                    </div>
                                    

                                    <div class="mb-3 position-relative row" id="datepicker1">
                                        <div class="col-lg-3 col-3"><label class="form-label">Ảnh dịch vụ</label></div>
                                        <div class="fallback">
					                      <div class="main_avatar__register--boder">
					                        <img class="avatar__register__logo" ng-src="{{'../'+hinhanh}}" src="{{'../'+formBservice.bservice.banner}}">
					                        <input class="input_file_image_post" type="file" ng-model="formBservice.bservice.banner" name="avatar" id="avatar" onchange="angular.element(this).scope().imageChanged(this.files)" fileInput="formBservice.bservice.banner">
					                      </div>
					                    </div>
                                    </div>

                                    <button class="btn btn-primary" ng-click="save()" type="submit">Thêm</button>
                                    <button class="btn btn-secondary" ng-click="reset()" type="reset">Làm mới</button>
                                </form>
                            </div> <!-- end card-body-->
                        </div> <!-- end card-->
                    </div> <!-- end col -->

                </div>
     </div>
            

 </div>

        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->
        
