<div class="">
    <div class="row main__left--height">
        <div>
            <ul class="main__left__user">
                <li>
                    <a href="">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="main_left--boder">
                                    <img class="avatar__logo" src="../access/images/user1.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-8 main__left__user__text">
                                <span>Nguyễn văn A</span><p>Số dư: 2000 B</p>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="line"></div>
    <br>
    <div class="row">
        <div class="col-md-9 offset-1">
            <ul class="main__left__list">
                <li>
                    <a href="">
                        <div class="row main__left__list--size">
                            <div class="col-md-2">
                                <i class="fa-sharp fa-solid fa-square-plus"></i>
                            </div>
                            <div class="col-md-10 main__left__list__post__text"><span>BÀI ĐĂNG</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="row main__left__list--size">
                            <div class="col-md-2">
                                <i class="fa-solid fa-circle-user"></i>
                            </div>
                            <div class="col-md-10 main__left__list__text"><span>TÀI KHOẢN</span>
                            </div>
                        </div>
                    </a>

                    <div class="main__left__list__child">
                        <ul class="main__left__list">
                            <li>
                                <a href="">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <i class="fa-regular fa-id-card"></i>
                                        </div>
                                        <div class="col-md-10 main__left__list__text"><span>Thông tin tài khoản</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>

                        <ul class="main__left__list">
                            <li>
                                <a href="">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <i class="fa-solid fa-unlock-keyhole"></i>
                                        </div>
                                        <div class="col-md-10 main__left__list__text"><span>Đổi mật khẩu</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 offset-1">
            <ul class="main__left__list">
                <li>
                    <a href="">
                        <div class="row main__left__list--size">
                            <div class="col-md-2">
                                <i class="fa-sharp fa-solid fa-cart-shopping"></i>
                            </div>
                            <div class="col-md-10 main__left__list__text"><span>MUA HÀNG</span>
                            </div>
                        </div>
                    </a>

                    <div class="main__left__list__child">
                        <ul class="main__left__list">
                            <li>
                                <a href="">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <i class="fa-sharp fa-solid fa-basket-shopping"></i>
                                        </div>
                                        <div class="col-md-10 main__left__list__text"><span>Giỏ hàng</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>

                        <ul class="main__left__list">
                            <li>
                                <a href="">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <i class="fa-solid fa-hourglass-half"></i>
                                        </div>
                                        <div class="col-md-10 main__left__list__text"><span>Lịch sử mua</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>

                        <ul class="main__left__list">
                            <li>
                                <a href="">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <i class="fa-solid fa-star"></i>
                                        </div>
                                        <div class="col-md-10 main__left__list__text"><span>Sản phẩm Yêu Thích</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>

            
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 offset-1">
            <ul class="main__left__list">
                <li>
                    <a href="">
                        <div class="row main__left__list--size">
                            <div class="col-md-2">
                                <i class="fa-sharp fa-solid fa-shop"></i>
                            </div>
                            <div class="col-md-10 main__left__list__text"><span>BÁN HÀNG</span>
                            </div>
                        </div>
                    </a>

                    <div class="main__left__list__child">
                        <ul class="main__left__list">
                            <li>
                                <a href="">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <i class="fa-solid fa-list-check"></i>
                                        </div>
                                        <div class="col-md-10 main__left__list__text"><span>Quản lý đơn</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>

                        <ul class="main__left__list">
                            <li>
                                <a href="">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <i class="fa-sharp fa-solid fa-truck-ramp-box"></i>
                                        </div>
                                        <div class="col-md-10 main__left__list__text"><span>Quản lý sản phẩm</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>

                        <ul class="main__left__list">
                            <li>
                                <a href="">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <i class="fa-solid fa-layer-group"></i>
                                        </div>
                                        <div class="col-md-10 main__left__list__text"><span>Thống kê</span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>

            
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 offset-1">
            <ul class="main__left__list">
                <li>
                    <a href="">
                        <div class="row main__left__list--size">
                            <div class="col-md-2">
                                <i class="fa-solid fa-life-ring"></i>
                            </div>
                            <div class="col-md-10 main__left__list__text"><span>HỖ TRỢ</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
