<div class="row ">
    <div class="col-md-12 main__left">
        <div class="">
            <div class="row main__left--height">
                <div>
                    <ul class="main__left__user">
                        <li>
                            <a href="">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="main_left--boder">
                                            <img class="avatar__logo" src="../access/images/user1.png" alt="">
                                        </div>
                                    </div>
                                    <div class="col-md-8 main__left__user__text">
                                        <span>Nguyễn văn A</span>
                                        <p class="text__small">20:10 22/07/2022</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="line"></div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="row main__left__poster">
                        <div class="mySlides">
                            <img class="img__slideshow"
                                src="https://media.istockphoto.com/photos/mountain-landscape-picture-id517188688?k=20&m=517188688&s=612x612&w=0&h=i38qBm2P-6V4vZVEaMy_TaTEaoCMkYhvLCysE7yJQ5Q="
                                style="width:100% ">
                        </div>

                        <div class="mySlides">
                            <img class="img__slideshow"
                                src="https://media.istockphoto.com/photos/mountain-landscape-picture-id1170655400?k=20&m=1170655400&s=612x612&w=0&h=Cz9OZXmfgtjEb-0yAkSG1j_Yb182jlUfuTuuia3LGQQ="
                                style="width:100%">
                        </div>

                        <div class="mySlides">
                            <img class="img__slideshow"
                                src="https://media.istockphoto.com/photos/mountain-landscape-picture-id1170655400"
                                style="width:100%">
                        </div>
                        <a class="prev" onclick="plusSlides(-1)">❮</a>
                        <a class="next" onclick="plusSlides(1)">❯</a>
                    </div>

                    <div class="row main__left__poster">
                        <div class="col-md-4">
                            <img class="demo cursor img__detail"
                                src="https://media.istockphoto.com/photos/mountain-landscape-picture-id517188688?k=20&m=517188688&s=612x612&w=0&h=i38qBm2P-6V4vZVEaMy_TaTEaoCMkYhvLCysE7yJQ5Q="
                                style="width:100%" onclick="currentSlide(1)" alt="The Woods">
                        </div>

                        <div class="col-md-4">
                            <img class="demo cursor img__detail"
                                src="https://media.istockphoto.com/photos/mountain-landscape-picture-id1170655400?k=20&m=1170655400&s=612x612&w=0&h=Cz9OZXmfgtjEb-0yAkSG1j_Yb182jlUfuTuuia3LGQQ="
                                style="width:100%" onclick="currentSlide(2)" alt="The Woods">
                        </div>

                        <div class="col-md-4">
                            <img class="demo cursor img__detail"
                                src="https://media.istockphoto.com/photos/mountain-landscape-picture-id1170655400"
                                style="width:100%" onclick="currentSlide(3)" alt="Mountains and fjords">
                        </div>

                    </div>
                </div>
            </div>
            <div class="row main__left__footer">
                <div class="col-md-12 location--color">
                    <span><i class="fa-solid fa-location-dot"></i> Vị trí:</span> An khánh, ninh kiều,
                    cần thơ
                </div>
            </div>
        </div>
    </div>


     

</div>
<script src="../access/js/slideshow.js"></script>