<div class="">
    <div class="row">
        <div class="col-md-6 offset-3 mt-2">
            <span class="btn__ btn__--green text-center">Cửa hàng</span>
        </div>
    </div> 
    <div class="row mt-2">
        <div class="col-md-12">
            <ul class="main__left__list">
                <li>
                    <a href="">
                        <div class="row main__left__list--size">
                            <div class="col-md-2">
                                <i class="fa-sharp fa-solid fa-thumbs-up"></i>
                            </div>
                            <div class="col-md-10 main__left__list__text"><span>Bài đăng của cửa hàng</span>
                            </div>
                        </div>
                    </a> 
                </li>
                <li>
                    <a href="">
                        <div class="row main__left__list--size">
                            <div class="col-md-2">
                                <i class="fa-sharp fa-solid fa-heart"></i>
                            </div>
                            <div class="col-md-10 main__left__list__text"><span>Sản phẩm của của hàng</span>
                            </div>
                        </div>
                    </a> 
                </li>
            </ul>
        </div>
    </div> 
</div>