<div class="">
    <div class="row">
        <div class="col-md-6 offset-3 mt-2">
            <span class="btn__ btn__--green text-center">Cửa hàng</span>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <ul class="main__left__list">
                <li>
                    <a href="">
                        <div class="row main__left__list--size">
                            <div class="col-md-2">
                                <i class="fa-sharp fa-solid fa-thumbs-up"></i>
                            </div>
                            <div class="col-md-10 main__left__list__text"><span>Bài đăng của cửa
                                    hàng</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="row main__left__list--size">
                            <div class="col-md-2">
                                <i class="fa-sharp fa-solid fa-heart"></i>
                            </div>
                            <div class="col-md-10 main__left__list__text"><span>Sản phẩm của của
                                    hàng</span>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="">
                        <div class="row mt-3 main__left__list--size">
                            <!-- search -->
                            <div class="col-md-12 main__left__list__text">
                                <div class="row header__search--bgwhite">
                                    <div class="col-md-2">
                                        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                                    </div>
                                    <div class="col-md-8 header__search">
                                        <input
                                            class="header__search__input header__search__input--bgwhite"
                                            placeholder="Tìm kiếm biglobby" type="text" name="search"
                                            id="search">
                                    </div>

                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                <li>
                    <div class="row mt-2">
                        <div class="row col-md-12">
                            <div class="col-md-12">
                                <span class="text__green">Giá</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <span>Từ: <input class="input__price" type="text"></span>
                            </div>
                            <div class="col-md-6">
                                <span>Đến: <input class="input__price" type="text"></span>
                            </div>
                        </div>
                        <div class="row col-md-9 offset-1 mt-3">
                            <button class="btn__ btn__--green">Áp dụng</button>
                        </div>
                    </div>
                </li>

                <li>
                    <hr>
                </li>

                <li>
                    <div class="row col-md-12 mt-2">
                        <div class="row col-md-12">
                            <div class="col-md-12">
                                <span class="text__green">Danh mục</span>
                            </div>
                        </div>
                        <div class="row col-md-12">
                            <div class="col-md-12">
                                <input class="" type="checkbox"> Quần áo
                            </div>
                            <div class="col-md-12">
                                <input class="" type="checkbox"> Điện tử
                            </div>
                            <div class="col-md-12">
                                <input class="" type="checkbox"> Già dép
                            </div>
                        </div>
                        <div class="row col-md-9 offset-1 mt-3">
                            <button class="btn__ btn__--green">Xóa bộ lọc</button>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>