<div class="row g-4">
	<!-- Card follow START -->
	<div class="col-sm-6 col-lg-12">
		<div class="card">
			<!-- Card header START -->
			<div class="card-header pb-0 border-0">
				<h5 class="card-title mb-0">Được tài trợ</h5>
			</div>
			<!-- Card header END -->
			<!-- Card body START -->
			<div class="card-body">
				<div class="row g-4">
					<!-- Event item START -->
					<div class="card h-100">
						<div class="position-relative">
							<img class="img-fluid rounded-top"
								src="https://cdn.tgdd.vn/Files/2019/12/16/1226980/ky-niem-dien-may-xanh--chang-duong-10-nam-voi-1000-sieu-thi-6.jpg"
								alt="">
						</div>
						<!-- Card body START -->
						<div class="card-body position-relative pt-0">
							<!-- Tag -->
							<a class="btn btn-xs btn-primary mt-n3" href="event-details.html">Cửa
								hàng</a>
							<h6>
								<a href="event-details.html"> Điện máy xanh </a>
							</h6>
							<p class="small">
								<i class="bi bi-link-45deg"></i>cuahangdienmayxanh.vn
							</p>
						</div>
						<!-- Card body END -->
					</div>

					<div class="card h-100">
						<div class="position-relative">
							<img class="img-fluid rounded-top"
								src="https://cdn.tgdd.vn/Files/2019/12/16/1226980/ky-niem-dien-may-xanh--chang-duong-10-nam-voi-1000-sieu-thi-6.jpg"
								alt="">
						</div>
						<!-- Card body START -->
						<div class="card-body position-relative pt-0">
							<!-- Tag -->
							<a class="btn btn-xs btn-primary mt-n3" href="event-details.html">Cửa
								hàng</a>
							<h6>
								<a href="event-details.html"> Điện máy xanh </a>
							</h6>
							<p class="small">
								<i class="bi bi-link-45deg"></i>cuahangdienmayxanh.vn
							</p>
						</div>
						<!-- Card body END -->
					</div>

					<div class="card h-100">
						<div class="position-relative">
							<img class="img-fluid rounded-top"
								src="https://cdn.tgdd.vn/Files/2019/12/16/1226980/ky-niem-dien-may-xanh--chang-duong-10-nam-voi-1000-sieu-thi-6.jpg"
								alt="">
						</div>
						<!-- Card body START -->
						<div class="card-body position-relative pt-0">
							<!-- Tag -->
							<a class="btn btn-xs btn-primary mt-n3" href="event-details.html">Cửa
								hàng</a>
							<h6>
								<a href="event-details.html"> Điện máy xanh </a>
							</h6>
							<p class="small">
								<i class="bi bi-link-45deg"></i>cuahangdienmayxanh.vn
							</p>
						</div>
						<!-- Card body END -->
					</div>
					<!-- Event item END -->
				</div>
			</div>
		</div>
		<!-- Card follow START -->
	</div>
</div>