<!-- begin header -->
<div class="row mt-1 no-gutters d-flex align-items-center">
    <!--Left  -->
    <div class="col-md-3 ">
        <div class="row d-flex align-items-center">

            <!-- Logo Bigluppy -->
            <div class="col-md-3 offset-md-1">
                <img class="header__logo_admin" src="../access/images/logo/Vector.png" alt="">
            </div>
        </div>
    </div>

    <!-- center -->
    <div class="col-md-6 header__menu">
        <div class="row no-gutters">
            <div class="row header__search--bgwhite">
                <div class="col-md-9 header__search">
                    <input class="header__search__input header__search__input--bgwhite" type="text" name="search"
                        id="search" placeholder="Tìm kiếm Biglobby">
                </div>

                <div class="col-md-2 offset-md-1 header__search__icon">
                    <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
                </div>

            </div>
        </div>
    </div>

    <!--  right-->
    <div class="col-md-3">
         <!-- Tài khoản-->
         <div class="row">  
            <div class="col-md-8 offset-4">
                <!-- Tài khoản-->
                <div class="dropdown">
                    <div class="row" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <div class="col-md-2">
                            <img class="header__logo" src="/access/images/Logo-B.png" alt="">
                        </div>
                        <div class="col-md-9">
                            <div class="row col-md-12 header__menu__label">
                                <span class=" dropdown-toggle"> Nguyễn Văn An </span>
                            </div>
                            <div class="row col-md-12 header__menu__label">
                                <span>2000 B </span>
                            </div>
                        </div>
                    </div>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a class="dropdown-item" href="#">Trang chủ</a> 
                        <a class="dropdown-item" href="#">Đăng xuất</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<!-- end header -->